.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid darkolivegreen;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.remove-btn {
    border-radius: 50%;
}