.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.activeTodosAmount {
    align-self: end;
    margin-bottom: 15px;
}

.filterButton {
    background-color: lightcyan;
}

.active {
    background-color: green;
}